.navbar {
  padding: 0 1rem;

  .navbar-brand {
    img {
      height: 2rem;
    }
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        font-weight: bold;
        padding: 1.15rem 1rem;

        .navbar__acount-image {
          img {
            width: 1rem;
            @include border-radius(100px);
          }
        }
      }

      .dropdown-menu {
        left: auto;
        right: 0;
      }
    }

    .nav-item.active {
      .nav-link {
        border-bottom: 3px solid $primary-color;
      }
    }
  }
}

.nav-tabs {
  .nav-item {
    .nav-link {
      border-left: 0;
      border-right: 0;
      border-top: 0;
      border-bottom: 3px solid transparent;
    }

    .nav-link.active {
      border-bottom: 3px solid $primary-color;
      background-color: transparent;
    }
  }
}

.sub-header {
  padding: .5rem;
  background-color: $white;
  border-top: 1px solid $gray-200;
  position: fixed;
  top: 3.7rem;
  right: 0;
  left: 0;
  z-index: 1035;
}


body.dark-theme {
  .sub-header {
    background-color: $black;
    color: $white;
  }

  .nav-tabs {
    border-color: $black;

    .nav-item {
      border-color: $black;

      .nav-link,
      .nav-link.active {
        background-color: $gray-900;
        color: $white;
        border-top-color: $gray-900;
        border-bottom-color: $black;
        border-left-color: $gray-900;
        border-right-color: $gray-900;
      }
    }
  }
}

@media screen and (max-width: 769px) {
  .sub-header {
    margin-left: 22%;
  }
}

@media screen and (max-width: 480px) {
  .navbar {
    .navbar-brand {
      font-size: 1rem;

      img {
        height: 1.5rem;
      }
    }

    .navbar-toggler {
      border-color: transparent;
    }
  }
}